name: Publish package to GitHub Packages
on: push
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
      - name: Build
        run: mvn -B -DskipTests clean package

      - name: Publish
        run: mvn -B -DskipTests deploy
        env:
          GITHUB_TOKEN: ${{ secrets.JAVA_MAVE_TOKEN }}